:root {
  /* Colors */
  --brand-color: hsl(0, 100%, 34%);
  --black: hsl(0, 0%, 0%);
  --white: hsl(0, 0%, 100%);
  --main-color: #be0707;

  /* Fonts */
  --font-title: "Montserrat", sans-serif;
  --font-text: "Lato", sans-serif;
}

/* RESET */


* {

  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: all .2s linear;
  transition: width none;
}
body {
  margin-top: 80px;
  background-color: #eed783;

  }

.card {
    --background: #fff;
    --background-checkbox: #0082ff;
    --background-image: #fff, rgba(0, 107, 175, 0.2);
    --text-color: #666;
    --text-headline: #000;
    --card-shadow: #0082ff;
    --card-height: 190px;
    --card-width: 190px;
    --card-radius: 12px;
    --header-height: 47px;
    --blend-mode: overlay;
    --transition: 0.15s;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  .card:nth-child(odd) .card__body-cover-image {
    --x-y1: 100% 90%;
    --x-y2: 67% 83%;
    --x-y3: 33% 90%;
    --x-y4: 0% 85%;
  }
  .card:nth-child(even) .card__body-cover-image {
    --x-y1: 100% 85%;
    --x-y2: 73% 93%;
    --x-y3: 25% 85%;
    --x-y4: 0% 90%;
  }
  .card__input {
    position: absolute;
    display: block;
    outline: none;
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    -webkit-appearance: none;
  }
  .card__input:checked ~ .card__body {
    --shadow: 0 0 0 3px var(--card-shadow);
  }
  .card__input:checked ~ .card__body .card__body-cover-checkbox {
    --check-bg: var(--background-checkbox);
    --check-border: #fff;
    --check-scale: 1;
    --check-opacity: 1;
  }
  .card__input:checked ~ .card__body .card__body-cover-checkbox--svg {
    --stroke-color: #fff;
    --stroke-dashoffset: 0;
  }
  .card__input:checked ~ .card__body .card__body-cover:after {
    --opacity-bg: 0;
  }
  .card__input:checked ~ .card__body .card__body-cover-image {
    --filter-bg: grayscale(0);
  }
  .card__input:disabled ~ .card__body {
    cursor: not-allowed;
    opacity: 0.5;
  }
  .card__input:disabled ~ .card__body:active {
    --scale: 1;
  }
  .card__body {
    display: grid;
    grid-auto-rows: calc(var(--card-height) - var(--header-height)) auto;
    background: var(--background);
    height: var(--card-height);
    width: var(--card-width);
    border-radius: var(--card-radius);
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: var(--shadow, 0 4px 4px 0 rgba(0, 0, 0, 0.02));
    transition: transform var(--transition), box-shadow var(--transition);
    transform: scale(var(--scale, 1)) translateZ(0);
  }
  .card__body:active {
    --scale: 0.96;
  }
  .card__body-cover {
    --c-border: var(--card-radius) var(--card-radius) 0 0;
    --c-width: 100%;
    --c-height: 100%;
    position: relative;
    overflow: hidden;
  }
  .card__body-cover:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: var(--c-width);
    height: var(--c-height);
    border-radius: var(--c-border);
    background: linear-gradient(to bottom right, var(--background-image));
    mix-blend-mode: var(--blend-mode);
    opacity: var(--opacity-bg, 1);
    transition: opacity var(--transition) linear;
  }
  .card__body-cover-image {
    width: var(--c-width);
    height: var(--c-height);
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: var(--c-border);
    filter: var(--filter-bg, grayscale(1));
    -webkit-clip-path: polygon(0% 0%, 100% 0%, var(--x-y1, 100% 90%), var(--x-y2, 67% 83%), var(--x-y3, 33% 90%), var(--x-y4, 0% 85%));
            clip-path: polygon(0% 0%, 100% 0%, var(--x-y1, 100% 90%), var(--x-y2, 67% 83%), var(--x-y3, 33% 90%), var(--x-y4, 0% 85%));
  }
  .card__body-cover-checkbox {
    background: var(--check-bg, var(--background-checkbox));
    border: 2px solid var(--check-border, #fff);
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 1;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    opacity: var(--check-opacity, 0);
    transition: transform var(--transition), opacity calc(var(--transition) * 1.2) linear;
    transform: scale(var(--check-scale, 0));
  }
  .card__body-cover-checkbox--svg {
    width: 13px;
    height: 11px;
    display: inline-block;
    vertical-align: top;
    fill: none;
    margin: 7px 0 0 5px;
    stroke: var(--stroke-color, #fff);
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 16px;
    stroke-dashoffset: var(--stroke-dashoffset, 16px);
    transition: stroke-dashoffset 0.4s ease var(--transition);
  }
  .card__body-header {
    height: var(--header-height);
    background: var(--background);
    padding: 0 10px 10px 10px;
  }
  .card__body-header-title {
    color: var(--text-headline);
    font-weight: 700;
    margin-bottom: 8px;
  }
  .card__body-header-subtitle {
    color: var(--text-color);
    font-weight: 500;
    font-size: 13px;
  }
  
  html {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
  }
  
  * {
    box-sizing: inherit;
  }
  *:after {
    box-sizing: inherit;
  }
  
  body {
    min-height: 100vh;
    display: flex;
    font-family: "Inter", Arial;
    justify-content: center;
    align-items: center;
    background: #fafafa;
    color: #000;
  }
  body .socials {
    position: fixed;
    display: flex;
    right: 20px;
    bottom: 20px;
  }
  body .socials > a {
    display: block;
    height: 28px;
    margin-left: 15px;
  }
  body .socials > a.dribbble img {
    height: 28px;
  }
  body .socials > a.twitter svg {
    width: 32px;
    height: 32px;
    fill: #1da1f2;
  }
  body .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
  }
  
  .subtitle {
    font-size: 24px;
    text-align: left;
    margin: 10px;
    color: black;
  }





  
.header {
  position: fixed;
  font-family: 'Poppins', sans-serif;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.676);
  padding: 0.4rem 4%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .logo {
  font-size: 25px;
  color: #fff;
  font-weight: bolder;
}

.header .logo i {
  padding-right: .5rem;
  color: var(--main-color);
  animation: floating 3s linear infinite;
}

@keyframes floating {

  0%,
  100% {
      transform: translateY(0rem);
  }

  50% {
      transform: translateY(-1rem);
  }
}

.header .navbar a {
  font-size: 1rem;
  color: #fff;
  margin: 0 1rem;
}

.header .navbar a.active,
.header .navbar a:hover {
  color: var(--main-color);
}

.header .icons a,
.header .icons div {
  font-size: 2.5rem;
  color: #fff;
  margin-left: 2rem;
  cursor: pointer;
}

.header .icons a:hover,
.header .icons div:hover {
  color: var(--main-color);
}

#menu-btn {
  display: none;
}

.header .search-form {
  position: absolute;
  top: 115%;
  right: -105%;
  background: #fff;
  width: 50rem;
  height: 5rem;
  display: flex;
  align-items: center;
  opacity: 0;
}

.header .search-form.active {
  right: 2rem;
  opacity: 1;
  transition: .4s linear;
}

.header .search-form input {
  width: 100%;
  padding: 0 1.5rem;
  font-size: 1.6rem;
  color: var(--black);
  text-transform: none;
}

.header .search-form label {
  font-size: 2.5rem;
  padding-right: 1.5rem;
  color: var(--black);
  cursor: pointer;
}

.header .search-form label:hover {
  color: var(--main-color);
}

.header.active {
  padding: 2rem 9%;
  background: #222;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background-color:transparent;
  color: white;
  padding: 8px;
  font-size: 16px;
  border: none;
}

.dropdown-content {
  display: none;
  background-color: #222222d0;
  position: absolute;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 8px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}
input[type="submit"] {
border: none;
background: none;
padding: 0;
text-transform: capitalize ;
font-size: 1.7rem;
  color: #fff;
  margin: 0 1rem;
}
input[type="submit"].active,
input[type="submit"]:hover {
  color: var(--main-color);
}
@media (max-width:991px) {

  html {
      font-size: 55%;
  }

  .header {
      padding: 1rem;
  }

  .header.active {
      padding: 2rem;
  }

  section {
      padding: 2rem;
  }

}

@media (max-width:768px) {

  #menu-btn {
      display: inline-block;
  }

  .header .search-form {
      width: 90%;
  }

  .header .navbar {
      position: absolute;
      top: 99%;
      left: 0;
      right: 0;
      background: #222;
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  .header .navbar.active {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }

  .header .navbar a {
      display: block;
      margin: 2rem;
      font-size: 2rem;
  }
}

.select-style {
  position: relative;
  display: inline-block;
  width: 100%;
}

.select-style select {
  display: inline-block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  line-height: 1.5;
  color: #ffffff;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #ffffff;
  border-radius: 0;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.select-style select:focus {
  outline: none;
  border-bottom-color: #00a8e8;
}

.select-style::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 10px;
  width: 10px;
  height: 10px;
  transform: translateY(-50%) rotate(45deg);
  border-right: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
  transition: transform 0.3s ease;
  pointer-events: none;
}

.select-style select:focus + ::after {
  transform: translateY(-50%) rotate(-135deg);
}

/* Styling for the dropdown options */
.select-style select option {
  background-color: #222222;
  color: #ffffff;
}

.submit-button {
  display: inline-block;
  margin:  10px 20px !important;
  padding: 10px 20px !important;
  font-size: 16px !important;
  font-weight: bold;
  background-color: #000000 !important;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.submit-button:hover {
  color: #007ea7;
}

.alert {
  padding: 12px;
  margin-bottom: 16px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.alert ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.alert li {
  margin-bottom: 4px;
}


