@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

:root {
    --main-color: #be0707;
    /* --black:#141215; */
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
    transition: width none;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}

html::-webkit-scrollbar {
    width: 1rem;
}

html::-webkit-scrollbar-track {
    background: var(--black);
}

html::-webkit-scrollbar-thumb {
    background: var(--main-color);
}

body {
    overflow-x: hidden;
    background: var(--black);
    margin-top: 59px;
    background-color: #eeeee4;

}

section {
    padding: 2rem 1%;
}

.heading {
    font-size: 4rem;
    text-align: center;
    padding-bottom: 2rem;
    color: #f18383;
}

.heading span {
    color: var(--main-color);
}

.btn {
    margin-top: 1rem;
    display: inline-block;
    padding: .8rem 3rem;
    font-size: 1.7rem;
    background: #fff;
    font-weight: 500;
    color: var(--black);
    cursor: pointer;
}

.btn:hover {
    background: var(--main-color);
    color: #fff;
    letter-spacing: .1rem;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.676);
    padding: 1rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .logo {
    font-size: 2.5rem;
    color: #fff;
    font-weight: bolder;
}

.header .logo i {
    padding-right: .5rem;
    color: var(--main-color);
    animation: floating 3s linear infinite;
}

@keyframes floating {

    0%,
    100% {
        transform: translateY(0rem);
    }

    50% {
        transform: translateY(-1rem);
    }
}

.header .navbar a {
    font-size: 1.7rem;
    color: #fff;
    margin: 0 1rem;
}

.header .navbar a.active,
.header .navbar a:hover {
    color: var(--main-color);
}

.header .icons a,
.header .icons div {
    font-size: 2.5rem;
    color: #fff;
    margin-left: 2rem;
    cursor: pointer;
}

.header .icons a:hover,
.header .icons div:hover {
    color: var(--main-color);
}

#menu-btn {
    display: none;
}

.header .search-form {
    position: absolute;
    top: 115%;
    right: -105%;
    background: #fff;
    width: 50rem;
    height: 5rem;
    display: flex;
    align-items: center;
    opacity: 0;
}

.header .search-form.active {
    right: 2rem;
    opacity: 1;
    transition: .4s linear;
}

.header .search-form input {
    width: 100%;
    padding: 0 1.5rem;
    font-size: 1.6rem;
    color: var(--black);
    text-transform: none;
}

.header .search-form label {
    font-size: 2.5rem;
    padding-right: 1.5rem;
    color: var(--black);
    cursor: pointer;
}

.header .search-form label:hover {
    color: var(--main-color);
}

.header.active {
    padding: 2rem 9%;
    background: #222;
}

.home {
    padding: 0;
}

.home .home-slider .box {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    background-size: cover !important;
    background-position: center !important;
}

.home .home-slider .box .content {
    text-align: center;
}

.home .home-slider .box .content h3 {
    font-size: 5rem;
    color: #fff;
    transition-delay: .2s;
}

.home .home-slider .box .content p {
    font-size: 3rem;
    color: #fff;
    transition-delay: .4s;
    padding: 1rem 0;
}

.home .home-slider .box .content .button {
    transition-delay: .6s;
}

.home .home-slider .box .content>* {
    transform: translateY(2rem);
    opacity: 0;
}

.home .home-slider .swiper-slide-active .content>* {
    transform: translateY(0rem);
    opacity: 1;
}

.home .home-slider .swiper-button-next {
    right: 4rem;
    color: #fff;
    opacity: 0;
}

.home .home-slider .swiper-button-prev {
    left: 4rem;
    color: #fff;
    opacity: 0;
}

.home .home-slider .swiper-button-next:hover,
.home .home-slider .swiper-button-prev:hover {
    color: var(--main-color);
}

.home .home-slider:hover .swiper-button-next,
.home .home-slider:hover .swiper-button-prev {
    opacity: 1;
}



/* media queries  */

@media (max-width:991px) {

    html {
        font-size: 55%;
    }

    .header {
        padding: 1rem;
    }

    .header.active {
        padding: 2rem;
    }

    section {
        padding: 2rem;
    }

}

@media (max-width:768px) {

    #menu-btn {
        display: inline-block;
    }

    .header .search-form {
        width: 90%;
    }

    .header .navbar {
        position: absolute;
        top: 99%;
        left: 0;
        right: 0;
        background: #222;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    .header .navbar.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    .header .navbar a {
        display: block;
        margin: 2rem;
        font-size: 2rem;
    }

}

@media (max-width:450px) {

    html {
        font-size: 50%;
    }

    .home .home-slider .swiper-button-next,
    .home .home-slider .swiper-button-prev {
        display: none;
    }

}

/* groups */


.standings-heading {
    padding-top: 2rem;
    font-size: 4rem;
}

.loader {
    height: 40rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.points-container {
    padding: 3rem 0 5rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;
}

.points-table {
    box-shadow: 0 0 0.5rem 0.2rem var(--secondary);
    border-radius: 0.5rem;
}

.group-heading {
    padding: 0.5rem 0;
    font-size: 2.5rem;
    text-align: center;
    text-transform: uppercase;
    color: var(--secondary);
    background: red;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.points-table table {
    box-shadow: 10px 10px 8px LIGHTGRAY;
    width: 100%;
    border-collapse: collapse;
}

.points-table table thead tr {
    text-align: left;
    background: #500f21;
}

.points-table table thead tr th {
    background-color: #df3e3e;
    padding: 1rem;
    color: var(--secondary);
}

.points-table table tbody tr:not(:last-child) {
    border-bottom: 0.02rem solid rgba(118, 114, 115, 0.447);
}

.points-table table tbody tr:nth-child(1),
.points-table table tbody tr:nth-child(2) {
    background: #e1e7f1;
    font-weight: bold;
}

.points-table table tbody tr td {
    padding: 0.7rem 0;
    text-align: center;
}

.team-flag {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    object-fit: cover;
    background-position: center;
    box-shadow: 0 0 0.5rem rgb(143, 112, 112);
}

.d-a {
    padding: 0 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

/* matchs*/


.matchs,
.matchs-by-group {
    display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
    margin-left: 2rem;
    margin-right: 2rem;
    padding: 2rem 0;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;
}

.match {
    display: inline-block;
    width: calc(33.33% - 20px);
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    background-color: aliceblue;
    position: relative;
    box-shadow: 0 0 0.2rem 0.1rem var(--shadow);
    font-size: 1.6rem;
    font-weight: bold;
    color: var(--text-dark);
    cursor: pointer;
}

.match-info {
    display: flex;
    justify-content: space-between;
}

.badge {
    position: absolute;
    right: -1rem;
    top: -1rem;
    display: inline-flex;
    width: 3rem;
    height: 3rem;
    background: var(--card-bg);
    color: var(--badge-text);
    box-shadow: 0 0 0.2rem 0.1rem var(--card-bg);
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-left: 1rem;
}

.flags {
    padding: 3rem 0 1rem 0;
    display: grid;
    grid-template-columns: 3fr 1fr 3fr;
    align-items: center;
    gap: 1rem;
    text-align: center;
}

.flag {
    width: 5rem;
}

.vs {
    font-size: 3rem;
}

.time-area {
    padding: 2rem 0 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.time {
    display: inline-flex;
    gap: 1rem;
}

.scroll-top {
    opacity: 0;
    transform: translateY(-10rem);
    position: fixed;
    right: 0.5rem;
    bottom: 2rem;
    background: var(--bg);
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 0.1rem var(--badge-text);
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    z-index: 100;
}

.scroll-top.active {
    opacity: 1;
    transform: translateY(0);
}

.scroll-top img {
    width: 2rem;
    transform: rotate(180deg);
}

@media (max-width: 382px) {
    .tab-link {
        margin: 2rem 0 0 0;
    }

    .matchs,
    .matchs-by-group {
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    }
}



p.copyright {
    width: 100%;
    color: #000000;
    line-height: 40px;
    font-size: 15px;
    text-align: center;
    padding-top: 15px;
    ;
}

footer {
    background-color: #ff0000;
    padding: 20px;
    height: 200px;
}

.column {
    display: flex;
    justify-content: space-around;
}




img {
    width: 140px;
    height: 100px;
    object-fit: scale-down;
    justify-content: space-around;
}




.stadium {
    width: 95px;
    height: 95px;
    object-fit: cover;
    display: inline-flex;

}

.std {
    display: inline-flex;
    justify-content: space-around;

}

.stadiums {
    justify-content: space-around;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 100px;
}

/* stadiums */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");


h2 {
    text-align: center;
    margin-bottom: 25px;
}

.slide-container {
    margin: 0 30px;
    overflow: hidden;
}

.card {
    background: aliceblue;
    border-radius: 8px;
}

.card .image-box {
    height: 200px;
}

.card .image-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
}

.card .stadium-details {
    display: flex;
    align-items: center;
    column-gap: 12px;
    padding: 15px;
}

.stadium-details .name {
    font-size: 15px;
    font-weight: 500;
}

.stadium-details .capacity {
    font-size: 12px;
    font-weight: 500;
    color: #4d4d4d;
}

.swiper-navBtn {
    color: #000;
    height: 40px;
    width: 40px;
    background: #fff;
    border-radius: 50%;
}

.swiper-navBtn::before,
.swiper-navBtn::after {
    font-size: 18px;
}

.swiper-pagination-bullet {
    background-color: #000;
}
.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropbtn {
    background-color:transparent;
    color: white;
    padding: 8px;
    font-size: 16px;
    border: none;
  }
  
  .dropdown-content {
    display: none;
    background-color: #222222d0;
    position: absolute;
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 8px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
input[type="submit"] {
  border: none;
  background: none;
  padding: 0;
  text-transform: capitalize ;
  font-size: 1.7rem;
    color: #fff;
    margin: 0 1rem;
}
input[type="submit"].active,
input[type="submit"]:hover {
    color: var(--main-color);
}


  .knockout-section {
    position: relative;
    height: 100vh;
    background-image: url('.././img/knockout.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
  }
  
  .item {
    position: absolute;
    width: 50px;
    height: 50px;
  }
  
  .round-16-5 {
    width: 176px;
    height: 82px;
    top: 78px;
    left: 38px;
    border-radius: 6px;
  }
  
  .flags1 {
    display: flex;
    align-items: center;
    left: 38px;
    margin-left: 11px;

  }
  
  .flag1 {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
    margin-top: 13px;
    margin-left: 20px;    
  }
  .alert {
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    color: #721c24;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
  }
  
  .alert-title {
    font-size: 18px;
    font-weight: bold;
    margin-top: 0;
  }
  
  .alert-message {
    font-size: 16px;
    margin-bottom: 0;
  }
  
.home-team1,
 .away-team1 {
    margin: 0;
    font-weight: bold;
  }
  .vs1 {
    font-weight: bold;
    font-size: 17px;
    margin-left: 18px;

  }
  .round-16-6 {
    width: 176px;
    height: 82px;
    top: 184px;
    left: 38px;
    border-radius: 6px;
  }
  .round-16-7 {
    width: 176px;
    height: 82px;
    bottom: 158px;
    left: 38px;
    border-radius: 6px;
  }
  .round-16-8 {
    width: 176px;
    height: 82px;
    bottom: 52px;
    left: 38px;
    border-radius: 6px;
  }
  
  .round-16-1 {
    width: 176px;
    height: 82px;
    top: 78px;
    right: 59px;
    border-radius: 6px;

  }
  .round-16-2 {
    width: 176px;
    height: 82px;
    top: 184px;
    right: 59px;
    border-radius: 6px;

  }
  .round-16-3 {
    width: 176px;
    height: 82px;
    bottom: 158px;
    right: 59px;
    border-radius: 6px;

  }
  .round-16-4 {
    width: 176px;
    height: 82px;
    bottom: 52px;
    right: 59px;
    border-radius: 6px;

  }

  .quarter-1 {
    width: 176px;
    height: 82px;
    top: 129.5px;
    right: 257px;
    border-radius: 6px;

  }
  .quarter-2 {
    width: 176px;
    height: 82px;
    bottom: 107px;
    right: 257px;
    border-radius: 6px;

  }
  .quarter-3 {
    width: 176px;
    height: 82px;
    top: 129.5px;
    left: 237px;
    border-radius: 6px;

  }
  .quarter-4 {
    width: 176px;
    height: 82px;
    bottom: 107px;
    left: 237px;
    border-radius: 6px;

  }

  .semi-1 {
    width: 176px;
    height: 82px;
    bottom: 238.3px;
    right: 456px;
    border-radius: 6px;

  }

  .semi-2 {
    width: 176px;
    height: 82px;
    bottom: 238.3px;
    left: 435px;
    border-radius: 6px;

  }

  .third {
    width: 176px;
    height: 82px;
    top: 81px;
    left: 536.5px;
    border-radius: 6px;

  }


  .final {
    width: 176px;
    height: 82px;
    bottom: 31px;
    left: 536.5px;
    border-radius: 6px;

  }
  
  